.frame {
  width: 100%;
  height: 100vh;
  padding-top: 8vmin;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 35vmax;
  height: 83vmin;
  padding-top: 1vmin;
  display: grid;
  grid-template-rows: 14vmin 14vmin 14vmin 25vmin 12vmin;
  align-items: center;
  justify-items: center;
  border: 2px solid black;
  border-radius: 2vmax;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 2vmin 1vmin 3px rgba(0, 0, 0, 0.5);

}

.wrapper > div {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1vmin;
}

.wrapper input {
  position: relative;
  width: 15vmax;
  height: 6vmin;
  border: none;
  border-radius: 1vmin;
  padding-left: 1vmax;
  padding-top: 0.25vmin;
  font-size: 3vmin;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.4);
}

.wrapper input::placeholder {
  color: rgba(0, 0, 0, 0.75);
  font-size: 2.5vmin
}

.wrapper input:focus {
  outline: none;
	filter: drop-shadow(1vmin 1vmin 5px rgba(0, 0, 0, 0.5));
  background: rgba(255, 255, 255, 0.85)
}

.wrapper p {
  font-size: 3vmin;
}

.wrapper button {
	width: 15vmax;
	height: 7vmin;
	border: none;
	border-radius: 2vmin;
	font-size: 3vmin;
	background: linear-gradient(45deg, #348f50, #56b4d3);
	filter: drop-shadow(1vmin 1vmin 3px rgba(0, 0, 0, 0.5));
	cursor: pointer;
	transition: 1s;
}

.wrapper button:hover {
	transform: scale(1.05);
}

.wrapper button:active {
	transform: scale(1);
	transition: 0.1s;
}

.wrapper button:disabled {
  background: grey;
  filter: blur(2px);
  cursor: default;
}

.wrapper button:disabled:hover {
  transform: none;
}

.invite textarea {
  width: 25vmax;
  height: 17vmin;
  font-size: 2.5vmin;
  resize: none;
  overflow: hidden;
  border:none;
  border-radius: 2vmin;
  padding: 1vmin 1vmax;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.4)
}

.invite textarea:focus {
  outline: none;
  transform: scale(1.05);
	filter: drop-shadow(1vmin 1vmin 5px rgba(0, 0, 0, 0.5));
  background: rgba(255, 255, 255, 0.85)
}

.invite textarea::placeholder {
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-size: 2.5vmin
}

.invite p {
  margin-left: 5vmax;
}

.nameErr input{
  position: relative;
  border: 4px solid red!important;
}

.nameErr::before {
  content: 'Мин. длина 3 символа';
  position: absolute;
  top: 8.25vmin;
  left: 3.25vmax;
  padding: 1vmin;
  border-radius: 1vmin;
  background-color: rgba(255, 50, 0, 1);
  color: wheat;
  z-index: 5;
}

.nameLock input{
  position: relative;
  border: 4px solid red!important;
}

.nameLock::before {
  content: 'Имя занято';
  position: absolute;
  top: 8.25vmin;
  left: 4.5vmax;
  padding: 1vmin;
  border-radius: 1vmin;
  background-color: rgba(255, 50, 0, 1);
  color: wheat;
  z-index: 5;
}

.passError input{
  position: relative;
  border: 4px solid red!important;
}

.passError::before {
  content: 'Пароли не совпадают';
  position: absolute;
  top: 8.25vmin;
  left: 3.25vmax;
  padding: 1vmin;
  border-radius: 1vmin;
  background-color: rgba(255, 50, 0, 1);
  color: wheat;
  z-index: 5;
}

.inviteErr textarea{
  position: relative;
  border: 4px solid red!important;
}

.inviteErr::before {
  content: 'Код-приглашение недействителен';
  position: absolute;
  top: 19.25vmin;
  left: 6vmax;
  padding: 1vmin;
  border-radius: 1vmin;
  background-color: rgba(255, 50, 0, 1);
  color: wheat;
  z-index: 5;
}

.pass {
  position: relative;
}

.pass img {
  position: absolute;
  top: 6vmin;
  right: 0.5vmax;
  width: 4vmin;
  cursor: pointer;
}

.frame > img {
  position: absolute;
  top: 22.5vmin;
  left: 54.5vmax;
  width: 7vmin;
  cursor: pointer;
  filter: invert(0.75);
}

.frame > p {
  position: absolute;
  /* width: 8vmin; */
}

.warning {
	position: absolute;
	top: 10vmin;
	left: 32.5vmax;
	width: 35vmax;
  font-size: 3vmin;
	text-align: center;
	border-radius: 3vmax;
	line-height: 5vmin;
	padding: 3vmax;
	background: linear-gradient(45deg, #ff9966, #ff5e62);
	z-index: 10;
}

.warning > span {
	font-size: 4vmin;
	font-weight: bold;
  color: #112434
}

.warning > span:last-of-type {
	cursor: pointer;
	transition: 0.5s;
}

.warning > span:last-of-type:hover {
	color: olivedrab;
	border-bottom: 1vmin solid olivedrab;
  ;
}