.wrapper {
	min-height: 90vmin;
	display: flex;
	align-content: center;
	justify-content: center;
	column-gap: 5vmax;
	padding-top: 20vmin;
	font-size: 3vmin;
}

.wrapper input {
	min-width: 15vmax;
	height: 5vmin;
	border-radius: 2vmin;
	padding-left: 1vmax;
	font-size: 3vmin;
	border: none;
	background: rgba(255, 255, 255, 0.2);
}

.wrapper input:focus {
	outline: none;
	background: rgba(255, 255, 255, 0.7);
	filter: drop-shadow(1vmin 1vmin 2px rgba(0, 0, 0, 0.5));
}

.inputs {
	display: flex;
	flex-direction: column;
	row-gap: 10vmin;
}

.name {
	display: flex;
	justify-content: center;
	column-gap: 3vmax;
}

.name p {
	align-self: center;
}

.password {
	position: relative;
	display: flex;
	flex-direction: row;
	padding-left: 3.25vmax;
	column-gap: 2vmax;
}

.password > p {
	align-self: center;
}

.password div {
	display: flex;
	flex-direction: column;
	row-gap: 1vmin;
}

.passPlace {
	position: relative;
}

.passPlace img {
	position: absolute;
	top: 5.25vmin;
	width: 4vmin;
	right: 1vmax;
	cursor: pointer;
}

.password > img {
	position: absolute;
	width: 7vmin;
	top: -2.25vmin;
	right: 9.5vmax;
	cursor: pointer;
	transition: 0.2s;
}

.password > img:hover {
	transform: scale(1.1) translateY(-0.5vmin);
}

.warning {
	position: absolute;
	top: -22vmin;
	left: 22vmax;
	width: 35vmax;
	text-align: center;
	border-radius: 3vmax;
	line-height: 5vmin;
	color: wheat;
	padding: 3vmax;
	background: linear-gradient(45deg, #fe8c00, #f83600);
	z-index: 10;
}

.warning > span {
	font-size: 4vmin;
	font-weight: bold;
}

.warning > span:last-of-type {
	cursor: pointer;
	transition: 0.5s;
}

.warning > span:last-of-type:hover {
	color: green;
	border-bottom: 1vmin solid green;
}

.avatar {
	display: flex;
	flex-direction: row;
	column-gap: 2vmax;
}

.avatar > p {
	margin-top: 4vmin;
}

.avatar > textarea {
	width: 35vmax;
	height: 12vmin;
	resize: none;
	border-radius: 2vmin;
	padding-left: 1vmax;
	font-size: 2.5vmin;
	border: none;
	background: rgba(255, 255, 255, 0.2);
}

.avatar > textarea:focus {
	outline: none;
	background: rgba(255, 255, 255, 0.7);
	filter: drop-shadow(1vmin 1vmin 2px rgba(0, 0, 0, 0.5));
}

.avatar > textarea::placeholder {
	color: rgba(0, 0, 0, 0.75);
	text-align: center;
	padding-top: 0.5vmin;
}

.select {
	display: flex;
	flex-direction: column;
	row-gap: 10vmin;
}

.role {
	position: relative;
	cursor: pointer;
}

.role > p {
	width: 8vmax;
}

.role ul {
	position: absolute;
	top: -40%;
	left: 25%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	column-gap: 1vmax;
	transition: 1s;
}

.role ul li:last-of-type {
	width: 8vmin;
	position: absolute;
	top: -80%;
	right: -12%;
}

.characters {
	width: 40vmax;
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 2vmin;
}

.active {
	border-bottom: 0.5vmin solid orange;
	border-right: 0.5vmin solid orange;
	border-radius: 1vmin;
}

.characters > div {
	width: 12vmax;
	padding-bottom: 1.5vmin;
	cursor: pointer;
	z-index: 3;
}

.characters ul {
	position: absolute;
	top: 0;
	left: 13vmax;
	max-height: 30vmin;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	transition: 1s;
}

.characters ul li:last-of-type {
	width: 8vmin;
	position: absolute;
	top: -20%;
	right: -210%;
}

.characters li,
.role li {
	max-height: 10vmin;
	padding: 1vmin 1vmax;
	margin-bottom: 1vmin;
	margin-bottom: 1vmin;
	margin-right: 1vmin;
	border-radius: 1.5vmin;
	background: var(--color);
	cursor: pointer;
	text-align: center;
	z-index: 2;
	transition: 0.5s;
}

.characters li:hover,
.role li:hover {
	transform: scale(1.1);
}

.show {
	transform: scale(1);
	filter: opacity(1);
}

.hide {
	transform: scale(0);
	filter: opacity(0);
}

.wrapper button {
	position: fixed;
	top: 85vmin;
	right: 45vmax;
	width: 10vmax;
	height: 7vmin;
	border: none;
	border-radius: 2vmin;
	font-size: 3vmin;
	background: linear-gradient(45deg, #348f50, #56b4d3);
	filter: drop-shadow(1vmin 1vmin 3px rgba(0, 0, 0, 0.5));
	cursor: pointer;
	transition: 0.5s;
}

.wrapper button:hover {
	transform: scale(1.05);
}

.wrapper button:active {
	transform: scale(1);
	transition: 0.1s;
}

.wrapper button:disabled {
	background: grey;
	filter: blur(2px);
	cursor: default;
}

.wrapper button:disabled:hover {
	transform: none;
}

.success {
	top: 81vmin!important;
	right: 48vmax!important;
	width: 12vmin!important;
	height: 12vmin!important;
	background: #348f50!important;
	border-radius: 50%!important;
	font-size: 8vmin!important;
	font-weight: bold!important;
	cursor: default!important;
}

.success:hover {
	transform: none!important;
}

.group {
	position: relative;
	height: 10vmin;
	width: 15vmax;
	display: flex;
	flex-direction: row;
	column-gap: 2vmax;
	row-gap: 2vmin;
}

.group > span {
	font-size: 6vmin;
	font-weight: bold;
	align-self: center;
}

.group > div {
	position: absolute;
	right: 2vmax;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.group > p {
	font-size: 3vmin;
	align-self: center;
}

.group > p > span {
	font-size: 5vmin;
}

.group img {
	height: 4vmin;
	cursor: pointer;
	transition: 0.5s;
}

.down {
	transform: rotateZ(180deg);
}

.down:hover {
	transform: rotateZ(180deg) scale(1.2);
}

.up:hover {
	transform: scale(1.2);
}
