.wrapper {
	position: relative;
	width: 100%;
	min-height: 90vmin;
	padding-top: 16vmin;
	padding-bottom: 5vmin;
	display: flex;
	overflow-y: scroll;
}

.period {
	width: 50vmax;
	display: grid;
	grid-template-rows: 10vmin 1fr;
	justify-items: start;
	align-self: center;
	row-gap: 3vmin;
}

.orders {
	position: absolute;
	top: 25vmin;
	left: -4.5vmax;
	width: 100%;
	height: calc(100% - 10vmin);
	display: flex;
	flex-direction: column;
	row-gap: 3px;
	transform: scale(0.9)
}

.header {
	position: absolute;
	top: 20vmin;
	left: -20vmax;
	width: 100%;
	padding: 2vmin;
	padding-right: 10vmax;
	display: flex;
	justify-content: center;
	align-content: center;
	display: grid;
	grid-template-columns: 30vmax 15vmax;
	column-gap: 2vmax;
}

.header button {
	width: 17vmax;
	padding: 1vmin;
	font-size: 2.5vmin;
	border: none;
	color: #112434;
	border-radius: 1vmin;
	background: rgba(255, 255, 255, 0.4);
	cursor: pointer;
	transition: 0.5s;
}

.period input {
	width: 12vmax;
	height: 5vmin;
	background: rgba(255, 255, 255, 0.4);
	border: none;
	padding-top: 0.25vmin;
	border-radius: 2vmin;
	font-size: 2.5vmin;
	text-align: center;
	transition: 0.5s;
}

.period input:focus,
.focus,
.header button:hover {
	background: rgba(255, 255, 255, 0.85) !important;
	outline: none;
	box-shadow: 0.75vmin -1vmin 3px rgba(0, 0, 0, 0.5);
}

.period input::placeholder {
	color: black;
}

.date_range {
	display: flex;
	column-gap: 1vmax;
}

.date_range img {
	transform: rotateZ(90deg) scale(1.5);
	filter: invert(0.75);
}

.select {
	display: flex;
	flex-direction: column;
	row-gap: 2vmin;
}

.select ul {
	display: flex;
	flex-direction: column;
	row-gap: 2vmin;
	padding: 3vmin;
	border-radius: 1vmax;
	background: rgba(0, 0, 0, 0.35);
}

.select ul li {
	text-align: center;
	padding: 1vmin;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	border-radius: 1vmin;
	font-size: 2vmin;
	cursor: pointer;
	z-index: 5;
	transition: 0.5s;
}

.select ul li:hover {
	border: 1px solid #c9c7c3;
	transform: translateX(1vmax);
}

.loader {
	padding-top: 20vmin;
	padding-left: 25.5vmax;
}

.info {
	width: 45vmax;
	min-height: 80vh;
	padding-top: 4vmin;
	padding-left: 10vmax;
	display: flex;
	flex-direction: column;
}

.info::-webkit-scrollbar {
	visibility: hidden;
}

.info ul {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.info ul li {
	display: flex;
	column-gap: 5px;
}

.info ul li div {
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 0.5vmin;
	font-size: 2vmin;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 1vmin;
}

.info > button {
	align-self: center;
	margin-top: 3vmin;
	width: 15vmax;
	min-height: 7vmin !important;
	border: none;
	border-radius: 2vmin;
	font-size: 3vmin;
	color: #112434;
	background: linear-gradient(45deg, #348f50, #56b4d3);
	filter: drop-shadow(1vmin -1vmin 3px rgba(0, 0, 0, 0.5));
	cursor: pointer;
	transition: 1s;
}

.info button:hover {
	transform: scale(1.05);
}

.info button:active {
	transform: scale(1);
	transition: 0.1s;
}

.info button:disabled {
	background: grey;
	cursor: default;
	filter: blur(2px);
}

.info button:disabled:hover {
	transform: scale(1);
}

.success {
	width: 12vmax;
	align-self: center;
	padding-top: 2vmin;
	text-align: center;
	font-size: 2.5vmin;
	color: var(--color);
	border: 1vmin solid var(--color);
	border-top: none;
	border-radius: 3vmin;
	transform: scale(0);
	transition: 1s;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 0.1vmax;
}

.successShow {
	transform: scale(1.75);
}
