.footer {
	bottom: 0;
	width: 100vmax;
	height: 5vmin;
	display: flex;
	justify-content: space-between;
	background: transparent
}

.left {
	display: flex;
	flex-direction: row;
	padding-left: 0.5vmax;
	column-gap: 1vmax;
}

.left p {
	margin-top: 7vmin;
	font-size: 2vmin;
}

.left img {
	width: 5vmin;
	height: 5vmin;
	filter: invert(0.75);
}

.right {
	padding-top: 1vmin;
	padding-right: 2vmax;
	display: flex;
	flex-direction: row;
	column-gap: 0.5vmax;
	margin-left: 30vmax;
	text-align: center
}

.right img {
	align-self: center;
	width: 4vmin;
	height: 4vmin;
}

.right p {
	align-self: center;
	user-select: text;
}
