@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: #c9c7c3;
	list-style: none;
	font-family: 'Pangolin', cursive;
	user-select: none;
}

input,
textarea {
	color: #112434;
}

*::-webkit-scrollbar {
	visibility: hidden;
	width: 0;
}

body {
	width: 100%;
	height: 100vh;
	background: #232526;
	overflow-x: hidden;
}

.App {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr 5vmin;
}
