.wrapper {
	position: relative;
	width: 13vmax;
	height: 12vmin;
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr;
	column-gap: 3px;
	align-items: center;
	justify-items: center;
	font-size: 2.5vmin;
}

.title {
	width: 100%;
	position: absolute;
	top: -4vmin;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	align-items: center;
	justify-items: center;
	font-size: 3vmin
}

.title p {
	max-height: 3vmin;
	overflow: hidden;
}

.colored{
	color: #112423!important;
	background: var(--color)
}

.class,
.key,
.lvl {
	width: 100%;
	display: grid;
	grid-template-rows: repeat(1fr 4);
	row-gap: 3px;
	text-align: center;
}

.class div,
.key div,
.lvl div {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	row-gap: 2vmin;
	transition: 0.5s;
	color: #c9c7c3;
}

.key div,
.lvl div {
	transition: 0.5s;
}

.my:hover,
.my:hover {
	color: #112424;
	background: #77A1D3;
	transform: scale(1.1);
	cursor: pointer;
	border-radius: 0.5vmin;
}

.searched {
	color: #112434!important;
	/* background: #77A1D3!important; */
	background: var(--c)
	/* background: #cfde6d!important;
	background: #71B280!important;
	background: #dc5555!important;
	background: #5aa48e!important;
	background: #5a9b50!important;
	background: #b08044!important;
	background: #c26c40!important;
	background: #864087!important */
}
